<html>
<head><title>Reset Password</title></head>    
<body> 

   <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='mavenTest'}"/>

<form action="/bin/resetPassword" method="POST">


  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" required>
<!--
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

-->
    <button type="submit">Reset Password</button>

  </div>

</form>




<body>
</html>